## Задание  1

In [44]:
import pandas as pd

data = pd.read_csv('ratings.csv')
data = data.merge(pd.read_csv('movies.csv'))
data.head()

def class_(param):
    if param['rating'] >= 4.5:
        return 'Hight'
    elif param['rating'] >= 2 and param['rating'] < 4.5:
        return 'Middle'
    elif param['rating'] < 2:
        return 'Low'
    

data['class'] = data.apply(class_, axis=1)
data.head(10)

,userId,movieId,rating,timestamp,title,genres,class
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Middle
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Middle
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Hight
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Middle
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Hight
5,18,1,3.5,1455209816,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Middle
6,19,1,4.0,965705637,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Middle
7,21,1,3.5,1407618878,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Middle
8,27,1,3.0,962685262,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Middle
9,31,1,5.0,850466616,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Hight

## Задание 2

In [71]:
import pandas as pd

keywords = pd.read_csv('keywords.csv')


geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def geo(param):
    if param['keyword'] in ['петербург', 'псков', 'мурманск']:
        return 'Северо-Запад'
    if param['keyword'] in ['москва', 'тула', 'ярославль']:
        return 'Центр'   
    if param['keyword'] in ['владивосток', 'сахалин', 'хабаровск']:
        return 'Дальний Восток'
    return 'undefined'
    
    
keywords['region'] = keywords.apply(geo, axis=1)
keywords[keywords['region'].isin(geo_data.keys())].head(20)

           keyword   shows          region
1259        москва  153050           Центр
5858   владивосток   43038  Дальний Восток
6075     ярославль   41720           Центр
8977      мурманск   29984    Северо-Запад
9084     хабаровск   29655  Дальний Восток
11222        псков   24885    Северо-Запад
11785         тула   23898           Центр
20823    петербург   14859    Северо-Запад
21445      сахалин   14494  Дальний Восток